body {
    font-family: 'Pixelify Sans', sans-serif;
    background-color: #FF8E00;<!-- change in future -->
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #ff85a2;
    font-weight: 700;
    font-size: 36px;
}

p {
    font-size: 24px;
    font-weight: bold;
    color: #ff5c8a;
}

button {
    background-color: #00C2DE;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #A9E4F1;
}
